/* purple = #ba87f5 */
/* black = #121212 */
/* white = #FFFFFF at .87 or .6 opacity */

body {
  background-color: #343131;
  color: #c8c3c3;opacity: .87;
  margin: 10px;
  padding: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
  color: #87c2f5;
}

h1 {
  color: #87e1f5;
  opacity: .87;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#estimates {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#estimates tr:nth-child(even) {
  background-color: #ffffff;
  opacity: 0.6;
  color: black;
}

#estimates tr:hover {
  background-color: #87b7f5;
  color: black;
}

#estimates th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #87dff5;
  color: white;
}
