{% extends 'base.html' %} {% block body %}

<h2>Welcome to VTM!</h2>

<img src="{{ url_for('static', filename='images/above_ground_vertical_tanks.jpg') }}">
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Erat velit scelerisque in dictum non consectetur a erat. Leo urna molestie at elementum eu facilisis. Fermentum dui faucibus in ornare quam viverra orci sagittis eu. Felis donec et odio pellentesque diam volutpat. Egestas pretium aenean pharetra magna ac placerat vestibulum. Faucibus vitae aliquet nec ullamcorper sit amet risus. Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor. Neque volutpat ac tincidunt vitae semper quis lectus nulla. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Diam sit amet nisl suscipit adipiscing bibendum. Etiam erat velit scelerisque in dictum non.
    Neque laoreet suspendisse interdum consectetur libero id. Elementum integer enim neque volutpat. A iaculis at erat pellentesque. Vel risus commodo viverra maecenas. Sed felis eget velit aliquet. Fames ac turpis egestas integer eget. Morbi blandit cursus risus at ultrices. Sit amet nisl suscipit adipiscing bibendum est. Phasellus faucibus scelerisque eleifend donec pretium. Quis risus sed vulputate odio ut. Morbi blandit cursus risus at ultrices mi tempus imperdiet. Sapien faucibus et molestie ac feugiat sed. Nec dui nunc mattis enim ut tellus elementum sagittis vitae. Mi sit amet mauris commodo quis imperdiet massa. Vulputate mi sit amet mauris commodo quis imperdiet. Nibh tellus molestie nunc non blandit massa enim. At erat pellentesque adipiscing commodo. Euismod elementum nisi quis eleifend quam adipiscing. Bibendum at varius vel pharetra vel turpis nunc.
</p>

{% endblock %}
